.no-display{
	display:none;
}

.mainContainer
{
display: flex;
flex-direction:column;
align-items: center;
margin-top:15px;
}

.padding-remove{
	padding-right: 0px !important;
    padding-left: 0px !important;
}

.filesTableWrap{
	margin-top:25px;
	margin-bottom:40px;
}

.tableLayout{
	table-layout:fixed !important;
	width:100%;
}

.tableLayout1{
	table-layout:fixed !important;
}

th, td {
  min-width: 27px;
}

table tr:nth-child(even){
  background: rgb(245, 243, 242);
}
table tr:nth-child(odd){
	background: rgb(255, 255, 255);
}

table,th,td{
	border-collapse:collapse;
	border:1px solid #cccccc;
}
th{
  padding: 5px !important;
  font-size: 13px;
  color: #101010;
  text-align: center;
}

td{
  padding:0px 5px !important;
  font-size:12px;
  word-wrap: break-word;
  height: 32px;
}
.upload-icon {
    text-align: center;
    margin: 0 auto;
}


.btn-large{
	color : blue;
	padding : 4px;
	font-size : 18px;
	border : 1px solid black;
	margin-bottom : 2px;
}

.btn-revision{
	color : green;
	padding : 5px;
	font-size : 15px;
	border : 1px solid black;
}

#revision_text{
text-align: center;
}	

#selectrevision{
	display:flex;
	flex-direction:row;
	align-items: center;
}

.revert_revisions{
	display:flex;
	flex-direction:row;
	align-items: center;
	margin-left:15px;
	margin-top:5px;
	justify-content:space-around;
}

#revision_submit{
	display:flex;
	flex-direction:row;
	align-items: center;
}

#uploadRevision{
	margin-left:20px;
}

#revisionfilename{
	margin-left:10px;
}

.revision-form{
	display: flex;
	flex-direction:column;
	align-items: center;
	padding:10px;
	border-radius:10px;
	margin-left:15px;
	border : 0.2px solid grey;
	height:110px;
}

input[type=file]{
	display:none;
}

#filename{
	margin-top:15px;
}

#upload{
	margin-bottom:5px;
	margin-top:5px;
}

#fileUpload{
	display:flex;
	flex-direction:row;
	align-items:center;
}

#fileText{
	min-width:95%;
	max-width:95%;
	border : 1px solid green;
	height: 500px;
	overflowY: 'scroll';
	margin: 0 auto;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 0, 0,0.5);
	border-radius : 5px;
	display:none;
	padding:15px;
	margin-bottom : 15px;
}

.selected {
  color: #fff;
  background-color: #5bc0de !important;
  font-weight: bold;
}

.drop-message {
    text-align: center;
    color: #333;
    font-family: Arial;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
    height: 130px;
    border: 4px dashed #4aa1f3;
}
